/* :::::::::::::::::::Fonts::::::::::::::::::::: */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Noto+Serif:wght@400;700&family=Playfair+Display:wght@400;500;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');

/* ::::::::::::::::::: Globals ::::::::::::::::::::: */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Roboto', sans-serif;
  background-color: var(--BgColor);
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  visibility: hidden;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.section {
  max-width: 100vw;
  margin: 0 auto;
}
#root {
  max-width: 100vw;
  overflow: hidden;
}
/* End Globals */

/* ::::::::::::::::::: Variables ::::::::::::::::::::: */
:root {
  /* Colors */
  --BgColor: rgb(247, 247, 247);
  --GrayColor: #323232;
  --FontGrayColor: #686868;
  --CtaColor: #1a1a1a;
  /* Fonts */
  --TitleFont: 'Noto Serif', serif;
  --TextsFont: 'Noto Sans', sans-serif;
  --CtaFonts: 'Playfair Display', serif;
  --MainFont: 'Roboto', sans-serif;
  /* Others */
  --MainTransition: 0.3s ease all;
}
/* End Variables */

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

/*
::::::::::::::::::::::::::::::::::::::  
Navigation
:::::::::::::::::::::::::::::::::::::::
*/
.desktop-nav {
  display: none;
}
.mobile-nav {
  position: absolute;
  top: 0;
  left: 0;
}
.mobile-ham {
  position: fixed;
  top: 3%;
  left: 6%;
  transform: translate(-5%, -3%);
  z-index: 1000;
  font-size: 2.1rem;
  cursor: pointer;
  transition: var(--MainTransition);
}
.mobile-ham:hover {
  color: crimson;
}
/* Sidebar */
.sidebar {
  transform: translateX(-100%);
}
.show-sidebar {
  transform: translateX(0);
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: white;
  z-index: 999;
  transition: var(--MainTransition);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
}
.sidebar-close {
  color: crimson;
  position: fixed;
  top: 3%;
  left: 6%;
  transform: translate(-5%, -3%);
  z-index: 1000;
  font-size: 2.2rem;
  cursor: pointer;
  transition: var(--MainTransition);
}
.side-links {
  width: 90%;
  height: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.single-link p {
  color: var(--CtaColor);
  text-transform: capitalize;
  font-family: var(--CtaFonts);
  font-size: 2.5rem;
  letter-spacing: 2px;
  font-weight: 400;
  white-space: nowrap;
}
.mobile-social {
  display: flex;
  justify-content: space-around;
  width: 80%;
}
.single-social-m {
  font-size: 3rem;
}
.single-social-m:hover {
  color: crimson;
}

/* -----> Tablet <------ */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .show-sidebar {
    padding-top: 8rem;
  }
  .side-links {
    height: 90%;
  }
}
/* -----> End Tablet <------ */

/* -----> Desktop <------ */
@media screen and (min-width: 800px) {
  .mobile-nav {
    display: none;
  }
  .desktop-nav {
    display: block;
    position: fixed;
    z-index: 2;
    top: 5%;
    left: 5%;
  }
  .desktop-link {
    margin: 1.2rem 0rem;
    padding: 0.3rem 0rem;
    letter-spacing: 1.7px;
    font-family: var(--TextsFont);
    font-size: 0.9rem;
    text-transform: uppercase;
    color: var(--GrayColor);
    cursor: pointer;
    transition: var(--MainTransition);
  }
  .desktop-link:hover {
    color: crimson;
    letter-spacing: 2.3px;
    padding-left: 1rem;
    transform: scale(1.02);
  }
  .desktop-link-home {
    font-weight: 600;
    letter-spacing: 2px;
    color: black;
    font-size: 0.9rem;
    transition: var(--MainTransition);
  }
  .desktop-link-home:hover {
    color: crimson;
  }
}
/* :::: :: End Navigation ::::::::  */

/*
::::::::::::::::::::::::::::::::::::::    
Homepage
:::::::::::::::::::::::::::::::::::::::
*/
.home-sect {
  max-width: 100vw;
  height: 90vh;
  position: relative;
  background: var(--BgColor);
}
/* Image */
.home-bg-overlay {
  display: none;
}
.home-bg {
  display: none;
}
.home-img-bottom-overlay {
  display: none;
}
/* Text */
.home-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.home-text h1 {
  font-family: var(--TitleFont);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 2rem;
  white-space: nowrap;
  font-weight: 400;
}
.home-text h2 {
  font-family: var(--TitleFont);
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 2rem;
  white-space: nowrap;
  font-weight: 400;
}
.home-text p {
  font-family: var(--MainFont);
  text-transform: uppercase;
  letter-spacing: 1.2px;
  margin-top: 1rem;
  font-weight: 600;
  color: var(--CtaColor);
}
/* Cta */
.home-cta {
  display: none;
}
.mobile-cta {
  position: absolute;
  bottom: 25%;
  left: 50%;
  transform: translate(-50%, -20%);
  border: 1.5px solid black;
  padding: 0.3rem 2rem;
  cursor: pointer;
  transition: var(--MainTransition);
  font-family: var(--TextsFont);
  letter-spacing: 2px;
  text-transform: uppercase;
}
.mobile-cta:hover {
  color: white;
  background-color: black;
}

/* -----> Tablet <------ */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .home-bg-container {
    position: relative;
  }
  .home-bg-overlay {
    display: block;
    width: 100%;
    height: 100.5%;
    background: white;
    position: absolute;
    opacity: 0.5;
  }
  .home-bg {
    display: block;
    width: 100%;
    height: 100vh;
    opacity: 0.2;
    object-fit: cover;
    background-attachment: fixed;
  }
  /* bottom overlay */
  .home-img-bottom-overlay {
    display: block;
    position: absolute;
    bottom: -1%;
    left: 0;
    width: 100%;
    height: 13rem;
    background: linear-gradient(transparent, var(--BgColor));
    z-index: 1;
    opacity: 1;
  }

  .home-text h1 {
    font-size: 4.5rem;
  }
  .home-text h2 {
    font-size: 2.5rem;
  }
  .home-text p {
    font-size: 1.4rem;
    letter-spacing: 3px;
  }
  .mobile-cta {
    font-size: 1.5rem;
    letter-spacing: 3px;
  }
}

/* -----> Desktop <------ */
@media screen and (min-width: 992px) {
  .home-sect {
    width: 100%;
    height: 100vh;
    position: relative;
  }
  /* Image */
  .home-bg-overlay {
    display: block;
    width: 100%;
    height: 100.5%;
    background: white;
    position: absolute;
    opacity: 0.5;
  }
  .home-bg {
    display: block;
    width: 100%;
    height: 100vh;
    opacity: 0.2;
    object-fit: cover;
    background-attachment: fixed;
  }
  .home-img-bottom-overlay {
    display: block;
    position: absolute;
    bottom: -1%;
    left: 0;
    width: 100%;
    height: 13rem;
    background: linear-gradient(transparent, var(--BgColor));
    z-index: 1;
    opacity: 1;
  }
  /* Texts */
  .home-text h1 {
    letter-spacing: 2.5px;
    font-size: 7rem;
  }
  .home-text h2 {
    letter-spacing: 2px;
    font-size: 4rem;
  }
  .home-text p {
    letter-spacing: 2px;
  }
  /* Cta Desktop */
  .mobile-cta {
    display: none;
  }
  .home-cta {
    display: block;
    position: absolute;
    top: 20%;
    right: 6%;
    z-index: 10;
  }
  .cta-elements-container {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .cta-circle {
    position: absolute;
    background: var(--CtaColor);
    height: 7rem;
    width: 7rem;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    cursor: pointer;
    box-shadow: 1px 1px 20px rgba(235, 235, 235, 0.1);
    transition: var(--MainTransition);
  }
  .cta-elements-container:hover .cta-circle {
    height: 8rem;
    width: 8rem;
    background: black;
  }
  .cta-text {
    position: absolute;
    font-family: var(--CtaFonts);
    font-size: 0.8rem;
    letter-spacing: 1.2px;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
}
/* :::: :: End Homepage ::::::::  */

/*
::::::::::::::::::::::::::::::::::::::    
About
:::::::::::::::::::::::::::::::::::::::
*/
.about-sect {
  min-height: 80vh;
  max-width: 100vw;
}
.about-container {
  display: flex;
  flex-direction: column;
  position: relative;
}
.about-img {
  height: 15.7vh;
  width: 100%;
  background-color: var(--BgColor);
}
.about-info-container {
  position: relative;
  background: white;
  width: 100%;
  min-height: 82vh;
  box-shadow: 0px 0 12px rgba(0, 0, 0, 0.15);
  border-top-left-radius: 1.3rem;
  border-top-right-radius: 1.3rem;
  padding-top: 2rem;
  text-align: center;
}
/* Title */
.about-title {
  position: absolute;
  font-size: 2.7rem;
  white-space: nowrap;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-family: var(--CtaFonts);
  font-weight: 400;
  top: 8.5%;
  left: 50%;
  transform: translateX(-50%);
  color: var(--CtaColor);
  opacity: 0.1;
}
.about-info {
  width: 70%;
  margin: 0 auto;
  margin-top: 1.7rem;
  font-size: 1rem;
  font-family: var(--MainFont);
  letter-spacing: 1.3px;
}
.about-info p {
  padding: 0.4rem 0rem;
}
.about-info span {
  color: crimson;
  font-family: var(--TitleFont);
  font-size: 1.2rem;
}
.proj-cta {
  border: none;
  outline: none;
  background: transparent;
  color: crimson;
  font-family: var(--TitleFont);
  font-size: 1.2rem;
  margin-left: 0.7rem;
  cursor: pointer;
}
.about-cta {
  border: 2px solid black;
  background: transparent;
  padding: 0.5rem 0rem;
  width: 60%;
  margin: 6rem auto;
  cursor: pointer;
  transition: var(--MainTransition);
  font-family: var(--TitleFont);
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
  color: black;
}
.about-cta:hover {
  color: white;
  background: black;
}

/* -----> Tablet <------ */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .about-sect {
    min-height: 100vh;
    width: 100%;
  }
  .about-img {
    height: 20vh;
  }
  .about-title {
    font-size: 5.5rem;
    letter-spacing: 4.5px;
    top: 6%;
  }
  .about-info-center {
    position: absolute;
    top: 15%;
  }
  .about-info {
    max-width: 1300px;
    font-size: 1.5rem;
    letter-spacing: 1.7px;
  }
  .about-info p {
    padding: 0rem;
  }
  .about-info span {
    font-size: 1.7rem;
  }
  .proj-cta {
    font-size: 1.7rem;
  }
  .about-cta {
    width: 40%;
    bottom: 11%;
    font-size: 2rem;
  }
}
/* -----> Desktop <------ */
@media screen and (min-width: 992px) {
  .about-img {
    height: 38vh;
  }
  /* Title */
  .about-title {
    font-size: 10rem;
    letter-spacing: 6px;
    top: 3%;
  }
  /* Info */
  .about-info {
    max-width: 1300px;
    font-size: 1.2rem;
    letter-spacing: 1.7px;
  }
  .about-info p {
    padding: 0rem;
  }
  .about-info span {
    font-size: 1.4rem;
  }
  .proj-cta {
    font-size: 1.4rem;
  }
  .about-cta {
    width: 20%;
    bottom: 11%;
  }
}
/* ::::::: End About ::::::::  */

/*
::::::::::::::::::::::::::::::::::::::    
Contact
:::::::::::::::::::::::::::::::::::::::
*/
.cont-sect {
  min-height: 85vh;
  max-width: 100vw;
}
.cont-container {
  display: flex;
  flex-direction: column;
  position: relative;
}
.cont-img {
  height: 15.7vh;
  width: 100%;
  background-color: var(--BgColor);
}
.cont-info-container {
  position: relative;
  background: white;
  height: 82vh;
  width: 100%;
  box-shadow: 0px 0 12px rgba(0, 0, 0, 0.15);
  border-top-left-radius: 1.3rem;
  border-top-right-radius: 1.3rem;
}
/* Title */
.cont-title {
  position: absolute;
  font-size: 2.8rem;
  white-space: nowrap;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-family: var(--CtaFonts);
  font-weight: 400;
  top: 8%;
  left: 50%;
  transform: translateX(-50%);
  color: var(--CtaColor);
  opacity: 0.1;
}
.info-container {
  max-width: 1300px;
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* TOP */
.contact-info {
  margin: 1rem auto;
}
.single-info {
  display: flex;
  margin: 0.5rem auto;
  font-size: 1.5rem;
  transition: var(--MainTransition);
  cursor: pointer;
  align-items: center;
}
.single-info p {
  font-size: 1rem;
  letter-spacing: 1px;
  font-family: var(--TextsFont);
  margin-left: 0.5rem;
  margin-top: 0.4rem;
}
.single-info:hover {
  color: crimson;
}
/* Right */
.say-something {
  text-align: center;
  font-family: var(--MainFont);
  font-size: 1.1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0 auto;
  margin-bottom: 1.2rem;
}
.contact-form-container {
  width: 80%;
  margin: 0 auto;
  margin-top: 2.5rem;
}
.contact-form {
  text-align: center;
}
.single-control input {
  width: 100%;
  margin: 0 auto;
  border: none;
  outline: none;
  background: transparent;
  padding: 0.3rem 0rem;
  margin: 0.5rem auto;
  border-bottom: 1px solid var(--FontGrayColor);
  font-size: 1.2rem;
}
.single-control input::placeholder {
  text-align: center;
  color: var(--FontGrayColor);
  opacity: 0.7;
}
.form-message {
  width: 100%;
  margin: 0 auto;
  border: none;
  outline: none;
  background: transparent;
  padding: 0.3rem 0rem;
  margin: 0.5rem auto;
  border-bottom: 1px solid var(--FontGrayColor);
  font-size: 1.2rem;
  resize: none;
}
.form-message::placeholder {
  text-align: center;
  color: var(--FontGrayColor);
  opacity: 0.7;
}
.form-submit {
  border: 2px solid black;
  outline: none;
  background: white;
  width: 80%;
  margin: 0 auto;
  margin-top: 2rem;
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: var(--TitleFont);
  padding: 0.5rem 0rem;
  cursor: pointer;
  transition: var(--MainTransition);
}
.form-submit:hover {
  background: black;
  color: white;
}
/* -----> Tablet <------ */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .cont-sect {
    min-height: 100vh;
    width: 100%;
  }
  .cont-img {
    height: 20vh;
  }
  .cont-title {
    font-size: 5.5rem;
    letter-spacing: 4.5px;
    top: 6%;
  }
  .cont-info-center {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
  }
  .info-container {
    width: 90%;
  }
  .single-info {
    font-size: 2.5rem;
  }
  .single-info p {
    font-size: 1.3rem;
    margin-left: 1rem;
  }
  .say-something {
    font-size: 2rem;
  }
  .contact-form-container {
    width: 95%;
  }
  .form-submit {
    font-size: 1.4rem;
  }
}
/* -----> Desktop <------ */
@media screen and (min-width: 992px) {
  .cont-sect {
    min-height: 100vh;
    width: 100%;
  }
  .cont-img {
    height: 38vh;
  }
  .cont-info-container {
    height: 90vh;
  }
  /* Title */
  .cont-title {
    font-size: 10rem;
    letter-spacing: 6px;
    top: 4%;
  }
  /* Infos */
  .info-container {
    max-width: 1300px;
    width: 90%;
    margin: 0 auto;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  /* Left */
  .single-info {
    display: flex;
    margin: 2rem 0rem;
    font-size: 2.5rem;
    transition: var(--MainTransition);
    cursor: pointer;
  }
  .single-info p {
    font-size: 1.1rem;
    letter-spacing: 2px;
    font-family: var(--TextsFont);
    margin-left: 1rem;
    margin-top: 0.4rem;
  }
  .single-info:hover {
    color: crimson;
  }
  /* Right */
  .contact-form-container {
    width: 60%;
  }
  .say-something {
    font-family: var(--MainFont);
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 400;
  }
  .single-control input {
    border: none;
    outline: none;
    background: transparent;
    padding: 0.3rem 2rem;
    margin: 0.5rem auto;
    border-bottom: 1px solid var(--FontGrayColor);
    font-size: 1.2rem;
  }
  .single-control input::placeholder {
    text-align: center;
    color: var(--FontGrayColor);
    opacity: 0.7;
  }
  .form-message {
    border: none;
    outline: none;
    background: transparent;
    padding: 0.2rem 2rem;
    margin: 0.5rem auto;
    border-bottom: 1px solid var(--FontGrayColor);
    font-size: 1.2rem;
    resize: none;
    width: 20rem;
  }
  .form-message::placeholder {
    text-align: center;
    color: var(--FontGrayColor);
    opacity: 0.7;
  }
  .form-submit {
    position: absolute;
    text-align: center;
    border: 2px solid black;
    outline: none;
    background: white;
    margin-top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: var(--TitleFont);
    padding: 0.5rem 2rem;
    cursor: pointer;
    transition: var(--MainTransition);
  }
  .form-submit:hover {
    background: black;
    color: white;
  }
}
/* ::::::: End Contact ::::::::  */

/*
::::::::::::::::::::::::::::::::::::::    
Projects
:::::::::::::::::::::::::::::::::::::::
*/
.proj-sect {
  min-height: 100vh;
  max-width: 100vw;
  margin: 0 auto;
  padding-top: 5rem;
  overflow-x: hidden;
}
.all-proj-container {
  width: 100%;
  margin: 0 auto;
}
.single-project-container {
  width: 100%;
  text-align: center;
  margin: 8rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  transition: var(--MainTransition);
}
.proj-img-container {
  width: 100%;
  height: 25rem;
  box-shadow: 1px 1px 9px rgba(109, 109, 109, 0.487);
  border-radius: 0.2rem;
  position: relative;
  transition: var(--MainTransition);
}
.mobile-overlay {
  border-radius: 0.2rem;
  display: none;
  width: 100%;
  height: 100%;
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.85;
  z-index: 2;
  transition: var(--MainTransition);
}
/* Hover on PROJ */
.single-project-container:hover .mobile-overlay,
.single-project-container:hover .proj-info {
  display: block;
}
.proj-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.4rem;
}
.proj-info {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  width: 90%;
  margin: 0 auto;
  transition: var(--MainTransition);
}
.proj-name {
  font-family: var(--TitleFont);
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 400;
  white-space: nowrap;
  color: black;
}
.proj-stack {
  padding: 0.5rem;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.stack-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.stack-item {
  font-family: var(--TextsFont);
  font-size: 1rem;
  color: crimson;
  margin: 0.3rem 0.4rem;
  white-space: nowrap;
}
.proj-links {
  width: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.proj-links > * {
  margin: 0 auto;
  font-size: 2.8rem;
  margin-top: 2rem;
  cursor: pointer;
  transition: var(--MainTransition);
}
.proj-links > *:hover {
  color: crimson;
}

/* -----> Tablet <------ */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .all-proj-container {
    padding-top: 7rem;
  }
  .proj-img-container {
    height: 30rem;
  }
  .single-project-container {
    margin: 9.5rem 0rem;
  }
}

/* -----> Desktop <------ */
@media screen and (min-width: 992px) {
  .all-proj-container {
    max-width: 1300px;
    width: 60%;
    margin: 0 auto;
  }
  .proj-img-container {
    height: 30rem;
  }
  .proj-info {
    width: 70%;
    margin: 0 auto;
  }
  .proj-name {
    font-size: 2.5rem;
    letter-spacing: 2px;
  }
  .proj-stack {
    width: 60%;
  }
  .stack-item {
    font-size: 1.3rem;
    font-weight: 600;
  }
  .proj-links {
    margin-top: 3rem;
  }
  .proj-links > * {
    font-size: 4rem;
  }
}
/* :::: :: End Projects ::::::::  */

/*
::::::::::::::::::::::::::::::::::::::    
Projects Page
:::::::::::::::::::::::::::::::::::::::
*/
.projPage-sect {
  min-height: 85vh;
  max-width: 100vw;
}
.projPage-container {
  display: flex;
  flex-direction: column;
  position: relative;
}
.projPage-img {
  height: 15.7vh;
  width: 100%;
  background-color: var(--BgColor);
}
.projPage-proj-container {
  padding-top: 4rem;
  padding-bottom: 2rem;
  position: relative;
  background: white;
  min-height: 82vh;
  width: 100%;
  box-shadow: 0px 0 12px rgba(0, 0, 0, 0.15);
  border-top-left-radius: 1.3rem;
  border-top-right-radius: 1.3rem;
}
/* Title */
.projPage-title {
  position: absolute;
  font-size: 2.8rem;
  white-space: nowrap;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-family: var(--CtaFonts);
  font-weight: 400;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  color: var(--CtaColor);
  opacity: 0.1;
}
/* Single Projects */
.all-single-pp-container {
  max-width: 1300px;
  width: 78%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.single-pp-container {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 2rem;
}
/* Image */
.pp-img-container {
  width: 100%;
  height: 100%;
}
.pp-img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 15px rgba(55, 55, 55, 0.4);
}
/* Info */
.pp-info {
  width: 90%;
  margin: 0 auto;
}
.pp-name {
  font-size: 1rem;
  font-family: var(--TitleFont);
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}
.pp-stack {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
.pp-stack-list {
  margin: 0.5rem auto;
  display: flex;
  justify-content: space-around;
}
.pp-stack-item {
  letter-spacing: 1px;
  color: var(--FontGrayColor);
  font-size: 0.9rem;
  white-space: nowrap;
  color: rgb(186, 18, 51);
}
.pp-desc {
  margin: 0 auto;
  text-align: center;
  padding-top: 0.7rem;
  color: var(--GrayColor);
  letter-spacing: 1px;
}
.pp-links {
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}
.pp-links a {
  font-size: 2rem;
  margin-left: 1rem;
  color: black;
  transition: var(--MainTransition);
}
.pp-links a:hover {
  color: crimson;
}

/* -----> Tablet <------ */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .projPage-sect {
    min-height: 100vh;
    width: 100%;
  }
  .projPage-img {
    height: 20vh;
  }
  .projPage-proj-container {
    min-height: 80vh;
  }
  /* Title */
  .projPage-title {
    font-size: 5.5rem;
    letter-spacing: 6px;
    top: 1.7%;
  }
  .all-single-pp-container {
    width: 70%;
  }
  .pp-name {
    font-size: 1.7rem;
  }
  .pp-stack-item {
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 2px;
  }
  .pp-desc {
    font-size: 1.3rem;
    letter-spacing: 1.5px;
  }
  .pp-links {
    margin-top: 2.5rem;
  }
  .pp-links a {
    font-size: 3.5rem;
    margin-left: 1.5rem;
  }
}

/* -----> Desktop <------ */
@media screen and (min-width: 992px) {
  .projPage-img {
    height: 38vh;
  }
  .projPage-proj-container {
    padding-top: 6rem;
    padding-bottom: 4rem;
    min-height: 90vh;
  }
  /* Title */
  .projPage-title {
    font-size: 10rem;
    letter-spacing: 6px;
    top: 0%;
  }
  /* Single Project Page */
  .all-single-pp-container {
    width: 75%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 3rem;
    row-gap: unset;
  }
  /* Info */
  .pp-info {
    width: 80%;
    height: 100%;
    margin: 0 auto;
  }
  .pp-name {
    font-size: 1.4rem;
    letter-spacing: 2.5px;
  }
  .pp-stack-list {
    width: 65%;
    margin: 0.5rem auto;
    display: flex;
    justify-content: space-between;
  }
  .pp-stack-item {
    margin-left: 1.2rem;
    letter-spacing: 1.2px;
  }
  .pp-desc {
    letter-spacing: 1.5px;
  }
  .pp-links {
    margin-top: 2rem;
  }
  .pp-links a {
    font-size: 2.2rem;
    margin-left: 1.5rem;
  }
}
/* :::: :: End Projects Page ::::::::  */

/*
::::::::::::::::::::::::::::::::::::::    
Footer
:::::::::::::::::::::::::::::::::::::::
*/
.footer-sect {
  max-width: 100vw;
  bottom: 0;
}
.footer-top {
  width: 100%;
  background: rgb(235, 235, 235);
}
.contact-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-text {
  padding: 1rem 0rem;
  font-family: var(--TitleFont);
  font-weight: 400;
  letter-spacing: 1.5px;
  color: var(--CtaColor);
}
.contact-social-container {
  display: flex;
  width: 90%;
  justify-content: space-around;
}
.contact-social {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}
.contact-social > * {
  margin-left: 0.5rem;
  cursor: pointer;
  transition: var(--MainTransition);
}
.contact-social > *:hover {
  color: crimson;
}
.social-phone {
  display: flex;
  font-size: 1.5rem;
  transition: var(--MainTransition);
}
.social-phone:hover {
  color: crimson;
}
.social-phone p {
  font-size: 1rem;
  margin-left: 0.3rem;
  letter-spacing: 1px;
  margin-top: 0.1rem;
}
.footer-bot {
  text-align: center;
  padding: 1rem 0rem;
}
.footer-bot p {
  letter-spacing: 1.2px;
  color: var(--FontGrayColor);
  font-size: 0.9rem;
}

/* -----> Tablet <------ */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .contact-text {
    padding: 2rem 0rem;
    font-size: 1.5rem;
  }
  .contact-social {
    padding-bottom: 1.5rem;
    font-size: 2rem;
  }
  .social-phone p {
    font-size: 1.4rem;
  }
  .social-phone {
    font-size: 2rem;
  }
  .footer-bot p {
    font-size: 1.5rem;
    padding: 0.7rem 0rem;
  }
}

/* -----> Desktop <------ */
@media screen and (min-width: 992px) {
  .footer-sect {
    width: 100%;
    bottom: 0;
  }
  .footer-top {
    width: 100%;
    background: rgb(235, 235, 235);
  }
  .contact-container {
    max-width: 1250px;
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 2.5rem 0rem;
  }
  .contact-text {
    font-family: var(--TitleFont);
    font-weight: 400;
    letter-spacing: 2.5px;
    color: var(--CtaColor);
    white-space: nowrap;
  }
  .contact-social {
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
  }
  .contact-social > * {
    font-size: 2rem;
    cursor: pointer;
    transition: var(--MainTransition);
  }
  .contact-social > *:hover {
    color: crimson;
  }
  .social-phone {
    display: flex;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
    transition: var(--MainTransition);
  }
  .social-phone p {
    font-size: 1.1rem;
    margin-left: 1rem;
    letter-spacing: 1.5px;
    white-space: nowrap;
  }
  .social-phone:hover {
    color: crimson;
  }
  .footer-bot {
    width: 100%;
    background: white;
    text-align: center;
  }
  .footer-bot p {
    padding: 0.25rem;
    letter-spacing: 2px;
    font-family: var(--MainFont);
    color: var(--FontGrayColor);
  }
}
/* :::: :: End Footer ::::::::  */

/*
::::::::::::::::::::::::::::::::::::::    
Projects Page
:::::::::::::::::::::::::::::::::::::::
*/

/* :::: :: End Projects Page ::::::::  */
/*
::::::::::::::::::::::::::::::::::::::    
Projects Page
:::::::::::::::::::::::::::::::::::::::
*/

/* :::: :: End Projects Page ::::::::  */
